<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- 
name = Имя, которое используется для ссылки на данный раздел в файле настройки.
type = Обработчик раздела настроек. Включает две секции: полный путь - пространство имен обработчика наших данных + имя самого обработчика, наименование сборки, где данный класс располагается.
-->
    <section name="StartupFolders" type="ConfigSectionTester.StartupFoldersConfigSection, ConfigSectionTester"/>

    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UodClientWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <UodClientWpf.Properties.Settings>
      <setting name="PortName" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="BaudRate" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="Parity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="DataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="StopBits" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="Handshake" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="DefaultPath" serializeAs="String">
        <value>D://1.mki</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>False</value>
      </setting>
    </UodClientWpf.Properties.Settings>
  </userSettings>
</configuration>
